<h1  style='border-bottom: 1px solid #EEEEEE; ' > 文章列表 </h1>
  
  <% @articles.each do |article| %>
    <dl style='border-bottom: 1px solid #EEEEEE; '>
      <dt>
        <%= article.title %>
      </dt>
      <dd>
        <%= article.description %>
      </dd>
      <dd>
        <p class="text-right">
          <%= article.created_at %> 
          <%= link_to "显示", [:user, article] %>
          <%= link_to "编辑", edit_user_article_path(article) %>
          <%= link_to "删除", [:user, article], :method => :delete, data: {confirm: "确定删除" } %>
        </p>
      </dd>
    </dl>

  <% end %>



<%= link_to '新建文章', new_user_article_path %>
