<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "生活随记" %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class='container'>
      <div class="navbar">
        <div class="navbar-inner">
          <%= link_to "#", :class=>"brand" do  %>
            <%= image_tag 'logo.jpg', width: 50, height: 50%>
          <% end %>
          <ul class="nav">
            <li><a href="/">首页</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
          <ul class="nav" style='float:right;'>
            <% if user_signed_in?%>
              <li>
                <%= link_to current_user.profile_name,  user_profile_path(current_user.profile) if current_user.profile  %>
              </li>
              <li><%= link_to "退出",  destroy_user_session_path , :method => "DELETE" %></li>
            <% else %>
              <li><a href="/users/sign_in">登录</a></li>
              <li><a href="/users/sign_up">注册</a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </header>

    <div class="container">
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>
        
        <% if alert %>
          <p class="alert"><%= alert %>dddd</p> 
        <% end %>
      <%= yield %>
    </div>
  </body>
</html>

